.crdNameBtns > button {
  background: none;
  border: none;
  color: white;
  font-weight: 1000;
  margin: 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.crdNameBtns > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.deckStats {
  border: 0.1rem solid white;
}
.manaStatIcon {
  min-height: 1.5rem;
  min-width: 3rem;
}
.manaInstance {
  height: 100%;
  width: 100%;
  border: 0.1rem white solid;
  color: rgb(93, 53, 107);
}
.actualDeck > div {
  height: 5.7rem;
  width: 4rem;
}
.setIcon {
  filter: grayscale(0%);
  background: none;
  border: none;
}
.setIcon:hover {
  filter: grayscale(100%) brightness(150%);
}
.setIcon:active {
  outline: none;
  transform: scale(0.9);
}
.cardNameInput {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  margin: 0.3rem 0;
}
.cardNameInput:focus {
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.2);
}
.cardNameInput::placeholder {
  outline: white;
}
