.crdNameBtns > button {
  background: none;
  border: none;
  color: white;
  font-weight: 1000;
  margin: 0 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
}
.crdNameBtns > button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.deckStats {
  border: 0.1rem solid white;
}
.manaStatIcon {
  min-height: 1.5rem;
  min-width: 3rem;
}
.manaInstance {
  height: 100%;
  width: 100%;
  border: 0.1rem white solid;
  color: rgb(93, 53, 107);
}
