nav > div > button {
  background: none;
  border: none;
}
nav > div > button:active {
  transform: scale(0.9);
}
nav > div > button:focus {
  border: none;
  outline: none;
}
nav > div {
  padding: 0.25rem;
}
nav {
  border-bottom: 0.4rem solid black;
}
.statsButton {
  background: none;
  border: none;
}
.statsButton:focus {
  outline: none;
}
.statsButton:active {
  transform: scale(0.9);
}

.tt,
.uu {
  position: relative;
}
.tt:hover::before,
.uu:hover::before {
  display: block;
}
.tt:before,
.uu:before {
  content: "total";
  display: none;
  background-color: grey;
  padding: 0 0.2rem;
  border-radius: 0.2rem;
  border: 0.1rem white solid;
  position: absolute;
  bottom: 1.5rem;
}
.uu:before {
  content: "unique";
}
