nav > div > button {
  background: none;
  border: none;
}
nav > div > button:active {
  transform: scale(0.9);
}
nav > div > button:focus {
  border: none;
  outline: none;
}
nav > div {
  padding: 0.25rem;
}
nav {
  margin-bottom: 1rem;
}
.statsButton {
  background: none;
  border: none;
}
.statsButton:focus {
  outline: none;
}
.statsButton:active {
  transform: scale(0.9);
}
.number:hover .tt {
  display: block;
}
.tt {
  position: relative;
  display: none;
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.282);
  border-radius: 0.2rem;
  font-size: 0.5rem;
  padding: 0 0.2rem;
}
