.actualDeck,
.cardZoom,
header {
  background: black;
}

.deckCard {
  height: 5rem;
  width: 3.5rem;
  border-radius: 0.5rem;
  background-color: grey;
  margin: 0 0.3rem;
  background-image: url("../public/assets/DOM_DOMINARIA/DOM_7.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.manaIconBtn {
  height: 2rem;
  user-select: none;
  filter: saturate(200%);
}
.manaIconBtn:hover {
  height: 2rem;
}
.manaIconBtn:active {
  transform: scale(0.8);
}
.cardName:hover {
  background-color: rgba(255, 255, 255, 0.179);
}
